.vs/
FastRankedPointsInPolygon/x64/
GuiFastRankedPointsInPolygon/x64/Debug/GuiFastR.890FF15C.tlog/
GuiFastRankedPointsInPolygon/x64/Debug/GuiFastRankedPointsInPolygon.log
GuiFastRankedPointsInPolygon/x64/Debug/GuiFastRankedPointsInPolygon.obj
GuiFastRankedPointsInPolygon/x64/Debug/vc142.idb
GuiFastRankedPointsInPolygon/x64/Debug/vc142.pdb
TestFastRankedPointsInPolygon/x64/
x64/
packages/
